---
import { CollectionEntry, getCollection } from "astro:content";
import Generic from "../../layouts/Generic.astro";

export async function getStaticPaths() {
  const posts = await getCollection("logs");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"logs">;

const post = Astro.props;
const { Content } = await post.render();
---

<Generic title={post.title} description="Log">
  <h1>{post.data.title}</h1>
  <Content />
</Generic>
