:root {
  --black: hsl(0 0% 0%);
  --paper-gray: hsl(42 0% 96%);
  --rwb-blue: hsl(208 100% 45%);
  --rwb-dark-blue: hsl(208 85% 35%);
  --rwb-medium-blue: hsl(208, 75%, 75%);
  --rwb-light-blue: hsl(208 100% 94%);
  --rwb-red: hsl(0 48% 45%);
  --rwb-dark-red: hsl(0 85% 35%);
  --rwb-medium-red: hsl(0, 75%, 75%);
  --rwb-light-red: hsl(0 100% 94%);

  --rwb-text: var(--black);
  --rwb-link: var(--rwb-dark-blue);
  --rwb-link-underline: var(--rwb-blue);
  --rwb-background: var(--paper-gray);
  --target-text-bg: var(--rwb-medium-blue);
  --callout-border: var(--rwb-blue);
  --callout-bg: var(--rwb-light-blue);
  --callout-text: var(--rwb-blue);
  --outline: var(--rwb-blue);
}

/* Reset based on https://keithjgrant.com/posts/2024/01/my-css-resets/ */

@layer reset {
  *,
  *::before,
  *::after {
    /* Enable border-box everywhere */
    box-sizing: border-box;
  }

  html {
    /* Prevent font size inflation */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  * {
    /* Remove default margins */
    margin: unset;
    padding: unset;
  }

  button,
  input,
  textarea,
  select {
    /* Controls and textareas should use the same typography */
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  img,
  picture,
  svg,
  canvas {
    /* Make images behave better */
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Wrap long words instead of overflowing */
    overflow-wrap: break-word;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      /* Turn off animations if prefers-reduced-motion */
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

html {
  background-color: var(--rwb-background);
  color: var(--rwb-text);
  /* Transitional from https://modernfontstacks.com */
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  font-size: 17px;
}

*:focus-visible {
  outline-color: var(--outline);
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 1rem;
  text-wrap: balance;
  text-align: center;
  clear: both;
}

p,
ol,
ul {
  margin-block: 1rem;
  line-height: 1.45em;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

li,
dl,
dt {
  margin-block: 0.5em;
}

a {
  color: var(--rwb-text);
  text-decoration-color: var(--rwb-link-underline);
}

a:hover {
  color: var(--rwb-link);
}

::target-text {
  background-color: var(--target-text-bg);
}

@layer images {
  img {
    margin-inline: auto;
  }

  @media (min-width: 768px) {
    .force-float-left {
      float: left;
      margin-inline: 0 1rem;
      margin-block-end: 1rem;
      max-width: 40%;
    }

    .force-float-right {
      float: right;
      margin-inline: 1rem 0;
      margin-block-end: 1rem;
      max-width: 40%;
    }
  }
}

@layer code {
  pre {
    padding: 1rem;
    border-radius: 0.375rem;
  }

  pre code {
    white-space: pre-wrap;
  }

  code:not(pre code) {
    font-weight: bold;
    font-size: 0.9rem;

    &::before,
    &::after {
      content: "`";
    }
  }
}

@layer blockquotes {
  figure {
    clear: both;
  }

  figure blockquote {
    margin-inline: 2em;
    margin-block: 1em;
  }

  /* Per tufte-css: https://edwardtufte.github.io/tufte-css/#fundamentals */
  figure figcaption {
    max-width: 55%;
    margin-inline-start: auto;
    text-wrap: balance;
    text-align: right;
  }
}

@layer tables {
  table {
    border-collapse: collapse;
    margin-inline: auto;
  }

  thead tr {
    background-color: var(--rwb-link);
    color: var(--rwb-background);
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}

::backdrop {
  backdrop-filter: blur(3px);
}

@layer callouts {
  aside {
    margin-block: 1rem;
    padding: 1rem;
    border-left: 6px solid var(--callout-border);
    background-color: var(--callout-bg);
    border-radius: 0.5rem;
  }

  aside.note::before {
    content: "Note";
    font-weight: bold;
    color: var(--callout-text);
    display: block;
    margin-bottom: 0.5rem;
  }

  aside > *:first-child {
    margin-top: 0;
  }

  aside > *:last-child {
    margin-bottom: 0;
  }
}
