:root {
  color-scheme: light dark;
  --rwb-background: light-dark(white, #030404);
  --rwb-text: light-dark(black, #e8e6e3);
  --rwb-link: light-dark(#3366cc, #689fd9);
}

/* Reset based on https://keithjgrant.com/posts/2024/01/my-css-resets/ */

@layer reset {
  *,
  *::before,
  *::after {
    /* Enable border-box everywhere */
    box-sizing: border-box;
  }

  html {
    /* Prevent font size inflation */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  * {
    /* Remove default margins */
    margin: unset;
    padding: unset;
  }

  button,
  input,
  textarea,
  select {
    /* Controls and textareas should use the same typography */
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  img,
  picture,
  svg,
  canvas {
    /* Make images behave better */
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Wrap long words instead of overflowing */
    overflow-wrap: break-word;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      /* Turn off animations if prefers-reduced-motion */
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

html {
  background-color: var(--rwb-background);
  color: var(--rwb-text);
  /* Transitional from https://modernfontstacks.com */
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.45em;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 1rem;
  text-wrap: balance;
  clear: both;
}

p,
ol,
ul {
  margin-block: 1rem;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

li,
dl,
dt {
  margin-block: 0.5em;
}

article {
  padding: 0 1rem;
  margin-bottom: 3rem;
  container-type: inline-size;
}

@media (min-width: 768px) {
  article {
    margin-left: auto;
    margin-right: auto;

    &.small {
      max-width: 48rem;
    }

    &.medium {
      max-width: 64rem;
    }

    &.large {
      max-width: 80rem;
    }
  }
}

a {
  color: var(--rwb-link);
}

@layer images {
  img {
    margin-inline: auto;
  }

  @media (min-width: 768px) {
    .force-float-left {
      float: left;
      margin-inline: 0 1rem;
      margin-block-end: 1rem;
      max-width: 40%;
    }

    .force-float-right {
      float: right;
      margin-inline: 1rem 0;
      margin-block-end: 1rem;
      max-width: 40%;
    }
  }
}

@layer code {
  pre {
    padding: 1rem;
    border-radius: 0.375rem;
  }

  pre code {
    white-space: pre-wrap;
  }

  code:not(pre code) {
    font-weight: bold;
    font-size: 0.9rem;

    &::before,
    &::after {
      content: "`";
    }
  }
}

@layer blockquotes {
  figure {
    border: 1px solid var(--rwb-text);
    border-radius: 20px;
    margin-block: 8px;
  }

  figure blockquote {
    margin-inline: 1em;
    margin-block: 1em;
  }

  figure:has(figcaption) blockquote {
    border-bottom: 1px solid var(--rwb-text);
  }

  figure figcaption {
    margin-inline-start: 2em;
    margin-inline-end: 1em;
    margin-block: 1em;
  }
}

@layer tables {
  table {
    border-collapse: collapse;
    margin-inline: auto;
  }

  thead tr {
    background-color: var(--rwb-link);
    color: var(--rwb-background);
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}
