:root {
  // Set up variables
  --rwb-background: white;
  --rwb-text: black;
  --rwb-link: #3366cc;

  @media (prefers-color-scheme: dark) {
    --rwb-background: #030404;
    --rwb-text: #e8e6e3;
    --rwb-link: #689fd9;
  }
}

// Reset based on https://keithjgrant.com/posts/2024/01/my-css-resets/

*,
*::before,
*::after {
  // Enable border-box everywhere
  box-sizing: border-box;
}

html {
  // Prevent font size inflation
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  // Remove default <body> margin
  margin: unset;
}

button,
input,
textarea,
select {
  // Controls and textareas should use the same fonts
  font: inherit;
}

img,
picture,
svg,
canvas {
  // Make images behave better
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    // Turn off animations if prefers-reduced-motion
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// End reset

html {
  background-color: var(--rwb-background);
  color: var(--rwb-text);
  // Transitional from https://modernfontstacks.com
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  line-height: 1.75rem;
}

article {
  padding: 0 1rem;
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;

    &.small {
      max-width: 48rem;
    }

    &.medium {
      max-width: 64rem;
    }

    &.large {
      max-width: 80rem;
    }
  }
}

h1 {
  font-size: 2rem;
  margin-block-start: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-block-start: 0.5rem;
}

a {
  color: var(--rwb-link);
}

pre {
  padding: 1rem;
  border-radius: 0.375rem;
}

pre code {
  white-space: pre-wrap;
}

code:not(pre code) {
  font-weight: bolder;

  &::before,
  &::after {
    content: "`";
  }
}

blockquote {
  margin: 1em 3em;
  border-left: 2px solid #999;
  padding-left: 1em;
}

strong {
  font-weight: 900;
}

table {
  border-collapse: collapse;
  margin-inline: auto;
}

thead tr {
  background-color: var(--rwb-link);
  color: var(--rwb-background);
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
