---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Index" description="Index" width="medium">
  <p>
    This link used to lead to my personal bookmarking site, but I've since
    switched to using <a href="https://raindrop.io">Raindrop.io</a>, so this
    site is deprecated. If you're curious about how my site was built, I <a
      href="/technical/bookmarks/">wrote about it here</a
    >!
  </p>

  <style>
    .cv {
      margin-block-start: 1rem;
    }
  </style>
</BaseLayout>
