---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

const {
  title = "Coffee Cups",
  description = "Celebrating the art of coffee cups",
} = Astro.props;
---

<BaseLayout title={title} description={description} width="medium">
  <h1>Coffee Cups</h1>
  <p>A celebration of the art of coffee cups and coffee bags.</p>

  <h2>
    <a href="https://www.instagram.com/chen.andcoffee/">CHEN&coffee</a> @ <a
      href="https://unboundsf.co/en">Unbound Bookstore</a
    > (2026-04-25)
  </h2>
  <div>
    <Image
      src={import(`../assets/coffeecups/chen-and-coffee.jpg`)}
      alt={"Front side of a coffee cup from Chen & Coffee, with a small cartoon face"}
      title={"Front side of a coffee cup from Chen & Coffee, with a small cartoon face"}
      format="webp"
      widths={[400, 800, 1200, 1920]}
      sizes="(min-width: 768px) calc(50vw - 1rem), 100vw"
    />
  </div>

  <h2><a href="https://www.elaichico.com/">elaichi co.</a></h2>
  <div>
    <Image
      src={import(`../assets/coffeecups/elaichi-chai-1.jpg`)}
      alt={"Front side of a coffee cup from elaichi co, featuring a cardamom pod (?)"}
      title={"Front side of a coffee cup from elaichi co, featuring a cardamom pod (?)"}
      format="webp"
      widths={[400, 800, 1200, 1920]}
      sizes="(min-width: 768px) calc(50vw - 1rem), 100vw"
    />

    <Image
      src={import(`../assets/coffeecups/elaichi-chai-2.jpg`)}
      alt={"Back side of a coffee cup from elaichi co, featuring the company name"}
      title={"Back side of a coffee cup from elaichi co, featuring the company name"}
      format="webp"
      widths={[400, 800, 1200, 1920]}
      sizes="(min-width: 768px) calc(50vw - 1rem), 100vw"
    />
  </div>

  <h2><a href="https://www.urbanritualcafe.com/">Urban Ritual</a></h2>
    <div>
    <Image
      src={import(`../assets/coffeecups/urban-ritual-1.jpg`)}
      alt={"Front side of a tea cup from Urban Ritual, featuring a stylized teapot"}
      title={"Front side of a tea cup from Urban Ritual, featuring a stylized teapot"}
      format="webp"
      widths={[400, 800, 1200, 1920]}
      sizes="(min-width: 768px) calc(50vw - 1rem), 100vw"
    />

    <Image
      src={import(`../assets/coffeecups/urban-ritual-2.jpg`)}
      alt={"Back side of a tea cup from Urban Ritual, featuring stylized tea leaves and honey spoons"}
      title={"Back side of a tea cup from Urban Ritual, featuring stylized tea leaves and honey spoons"}
      format="webp"
      widths={[400, 800, 1200, 1920]}
      sizes="(min-width: 768px) calc(50vw - 1rem), 100vw"
    />
  </div>

  <h2><a href="https://ashateahouse.com/">Asha Tea House</a></h2>
    <div>
    <Image
      src={import(`../assets/coffeecups/asha.jpg`)}
      alt={"Front side of a tea cup from Asha Tea House, showing their label and stylized tea leaves"}
      title={"Front side of a tea cup from Asha Tea House, showing their label and stylized tea leaves"}
      format="webp"
      widths={[400, 800, 1200, 1920]}
      sizes="(min-width: 768px) calc(50vw - 1rem), 100vw"
    />
  </div>
</BaseLayout>

<style>
  div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: none;
  }

  @media (min-width: 768px) {
    div:has(> :nth-child(2)) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    div:not(:has(> :nth-child(2))) img {
      max-width: 50%;
    }
  }
</style>
