---
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexGrid from "../components/IndexGrid.astro";
import LinkBox from "../components/LinkBox.astro";
---

<BaseLayout description="Index" width="medium">
  <h1>λ</h1>

  <p id="homepage-quote" style="text-align: center"></p>
  <script is:inline>
    var quotes = [
      {
        text: "\u201cThat is well said,\u201d Candide replied, \u201cbut we must cultivate our garden.\u201d",
        citation: "<em>Candide<\/em>, Voltaire (trans. Peter Constantine)",
      },
      {
        text: "Homo sum, humani nihil a me alienum puto.",
        citation: "<em>Heauton Timorumenos<\/em>, Terence",
      },
      {
        text: "Horas non numero nisi serenas.",
        citation: "Inscription of a Venetian sundial",
      },
      {
        text: "Non fui, fui, non sum, non curo.",
        citation: "Customary Epicurean epitaph",
      },
      {
        text: "Everything is strange, in this world. Wherever you look, strangeness blooms.",
        citation: "<em>Moonbound</em>, Robin Sloan",
      },
      {
        text: "Do not lose time on daily trivialities. Do not dwell on petty detail. For all of these things melt away and drift apart within the obscure traffic of time. Live well and live broadly. You are alive and living now. Now is the envy of all of the dead.",
        citation: "<em>World of Tomorrow</em>, Don Hertzfeldt",
      },
      {
        text: "The day of judgment is either approaching, or it is not. If it is not, there is no cause for an adjournment; if it is, I choose to be found doing my duty. I wish therefore that candles may be brought.",
        citation:
          "A member of the Connecticut Governor's council during New England's Dark Day of 1780",
      },
      {
        text: "Ars longa, vita brevis",
        citation: "Traditional Latin aphorism",
      },
    ];
    var q = quotes[Math.floor(Math.random() * quotes.length)];
    document.getElementById("homepage-quote").innerHTML =
      "<em>" + q.text + "<\/em> \u2014 " + q.citation;
  </script>

  <p>
    Hi, I'm Russell, a writer and programmer in the Bay Area. I've been writing
    essays, newsletters, and evergreen notes on this little site for six years
    (!) now, totaling more than a quarter million words. Originally inspired by
    Robin Sloan's <a
      href="https://www.robinsloan.com/special/year-of-the-meteor/"
      ><em>Year of the Meteor</em></a
    > newsletter, you'll find all kinds of topics within, including among others:
  </p>

  <ul>
    <li>
      <em
        >The trials and travails of writing (and rewriting, and rewriting...) a
        novel(s).</em
      >
    </li>
    <li>
      <em
        >Musings on cultural evolution, memory, cognition, consciousness, and
        neurodiversity.</em
      >
    </li>
    <li>
      <em
        >Technical content of interest to professional software engineers and
        particularly engaged amateurs.</em
      >
    </li>
    <li>
      <em
        >Literary criticism, which is to say, music, book, and film
        recommendations.</em
      >
    </li>
  </ul>

  <h2>Samplers</h2>

  <p>
    Here's a sampler of some of the content you can expect as you delve deeper
    into the forest of words. These aren't my <em>favorite</em> posts or even the
    most read, but they give a good idea of the typical content.
  </p>

  <IndexGrid>
    <LinkBox
      title="Pattern Language"
      href="/evergreen/pattern-language/"
      description="A guide to some of the concepts I return to a lot."
    />
    <LinkBox
      title="Folk Mental Models"
      href="/newsletters/accessible-understandable-answers-in-a-broad-domain-of-interest/#folk-mental-models"
      description="Exploring how folk mental models develop."
    />
    <LinkBox
      title="Farmers & Foragers"
      href="/essays/farmers-foragers/"
      description="Two kinds of people that often don't like each other very much."
    />
    <LinkBox
      title="Calendrical and Cartographic Thinking"
      href="/newsletters/theres-probably-a-metaphor-for-business-leadership-or-scientific-research-in-here/#calendrical-and-cartographic-thinking"
      description="Comparing how we think when looking at calendars and maps."
    />
    <LinkBox
      title="How to Read a Lot"
      href="/essays/reading-lots/"
      description="My tips on reading a lot."
    />
    <LinkBox
      title="A Cancer on Liberalism"
      href="/newsletters/a-cancer-on-liberalism/"
      description="On two ideologies of the 20th century"
    />
    <LinkBox
      title="The Bridge"
      href="/creativewriting/thebridge/"
      description="Borgesian short fiction about a creepy bridge."
    />
    <LinkBox
      title="28 Pieces of Advice for 28"
      href="/newsletters/28-pieces-of-advice-for-28"
      description="Doling out advice for my 28th birthday."
    />
    <LinkBox
      title="Cinema as the cathedral of modernity"
      href="/newsletters/you-might-not-think-you-need-a-milk-frother/#cinema-as-the-cathedral-of-modernity"
      description="Are films the modern equivalent of medieval cathedrals?"
    />
    <LinkBox
      title="Modernism as Global Monoculture"
      href="/newsletters/a-form-of-transcendent-mysticism/#modernism-as-global-monoculture"
      description="Is modernity a single cultural 'package'?"
    />
    <LinkBox
      title="Small Things To Make Life Better"
      href="/evergreen/small-things/"
      description="Cheap but lovely gifts to give at a surprise white elephant party."
    />
    <LinkBox
      title="A REPL for Writing"
      href="/newsletters/react-and-try-something-different/#a-repl-for-writing"
      description="As a writer, should I deliberately practice time-to-feedback?"
    />
    <LinkBox
      title="Writing Compiler"
      href="/newsletters/in-which-i-wax-nostalgic-for-my-lost-youth/#writing-compiler"
      description="My preferred way of thinking about large language models."
    />
    <LinkBox
      title="Software Engineers and the Illusion of Explanatory Depth"
      href="/newsletters/unsusceptibility-to-the-illusion-is-inherent/#software-engineers-and-the-illusion-of-explanatory-depth"
      description="Are software engineers less vulnerable to this bias?"
    />
    <LinkBox
      title="How many programmers does it take to fix a lightbulb?"
      href="/newsletters/surprising-and-maybe-even-unfair/#how-many-programmers-does-it-take-to-fix-a-lightbulb-fermi-estimation-in-computer-science-interviews-as-discipline-error"
      description=" Fermi estimation in programming interviews as discipline error."
    />
    <LinkBox
      title="Communities of Practice"
      href="/newsletters/if-you-show-still-frames-in-sequence-fast-enough/#communities-of-practice"
      description="Why I find it hard to intentionally practice photography."
    />
    <LinkBox
      title="New Absurdism"
      href="/newsletters/eh-it-wasnt-worth-celebrating-anyway/#new-absurdism"
      description="In which I try to give a name to a new genre I see emerging."
    />
    <LinkBox
      title="My Favorite Bookstore Is A Library"
      href="/newsletters/i-should-probably-take-that-outline-more-seriously/#my-favorite-bookstore-is-a-library"
      description="Many libraries are willing to buy books for you!"
    />
    <LinkBox
      title="In Which I Wax Nostalgic for My Lost Youth"
      href="/newsletters/in-which-i-wax-nostalgic-for-my-lost-youth/#in-which-i-wax-nostalgic-for-my-lost-youth"
      description="A navel-gazing quarter-life crisis post."
    />
  </IndexGrid>

  <h2 class="cv">CV</h2>

  <p>
    Professionally, I am a software engineer (that was probably obvious from
    saying I'm a programmer in the Bay Area, eh?). I am shortly joining <a
      href="https://www.vanta.com/">Vanta</a
    > and was formerly a product engineer at <a href="https://www.descript.com"
      >Descript</a
    > and <a href="https://asana.com/">Asana</a>. As you probably assumed, my
    opinions here are my own and don't reflect the views of my current, future,
    or former employers.
  </p>

  <p>
    I have a bachelor's degree in computer science & mathematics from the <a
      href="https://www.ubc.ca/">University of British Columbia</a
    >. I live in San Francisco with <a href="http://sherryyuan.me"
      >my wife Sherry</a
    > and our small canine companion Rooibos.
  </p>

  <h2>Colophon</h2>

  <p>
    This site is built with <a href="https://astro.build">Astro</a>. The body
    text is <a href="https://practicaltypography.com/charter.html">Charter</a> (falling
    back on the <a
      href="https://github.com/system-fonts/modern-font-stacks#transitional"
      >Transitional fonts</a
    > from <a href="https://modernfontstacks.com">Modern Font Stacks</a>).
    Monospace text is <a href="https://www.brailleinstitute.org/freefont/"
      >Atkinson Hyperlegible Mono</a
    >. The color palette is primarily from Matthew Howell's <a
      href="https://www.reasonable.work/colors/">Reasonable Colors</a
    > and the icons are from <a href="https://heroicons.com/">heroicons</a>. The
    site is served via <a href="https://workers.cloudflare.com"
      >Cloudflare Workers</a
    >. You can see the full source on <a
      href="https://github.com/rwblickhan/astro-rwblickhan.org">Github</a
    >.
  </p>

  <p>
    I heavily use the Greek lambda as a personal symbol because I played too
    much <em>Half-Life 2</em> as a child and because I had a brief, torrid love affair
    with the <a href="https://en.wikipedia.org/wiki/Lambda_calculus"
      >lambda calculus</a
    > as a university student.
  </p>

  <h2>Copyright</h2>

  <p>
    Unless otherwise specified, all content on this site is licensed under a <a
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a
    > license.
  </p>

  <figure>
    <blockquote>
      <p>
        After an initial flurry of opening hellos, he and Russell — the
        wonderful girl's brother's name was Russell, a name which to Arthur's
        mind always suggested burly men with blond mustaches and blow-dried hair
        who would at the slightest provocation start wearing velvet tuxedos and
        frilly shirt fronts and would then have to be forcibly restrained from
        commentating on billiards matches — had quickly discovered they didn't
        like each other at all.
      </p>
    </blockquote>
    <figcaption>
      <em>So Long, and Thanks for All the Fish</em>, Douglas Adams
    </figcaption>
  </figure>

  <style>
    .cv {
      margin-block-start: 1rem;
    }
  </style>
</BaseLayout>
