---
import IndexLayout from "../layouts/IndexLayout.astro";

const { title = "Map", description = "Sitemap for rwblickhan.org" } =
  Astro.props;
---

<IndexLayout title={title} description={description}>
  <map id="sitemap" name="sitemap"
    ><area
      shape="poly"
      alt=""
      title=""
      coords="276,574,218,516,220,418,328,400,394,476,436,456,482,484,492,538,510,540,534,584,510,612,434,616,396,580,274,572,266,566"
      href="/essays"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="302,354,476,320,486,392,396,476"
      href="/misc"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="492,344,674,422,774,578,764,608,660,576,564,626,516,620,532,586,546,488,486,488,428,450,482,392"
      href="/fiction"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="834,306,922,288,958,370,976,370,1016,526,1010,566,980,530,926,570,900,524,794,618,760,606,770,572,668,406,764,348"
      href="/technical"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="1120,218,954,294,996,372,1050,374,1084,396,1116,402,1138,410,1168,408,1220,350,1214,294,1142,298,1166,274,1140,234"
      href="/gallery"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="1024,536,1098,598,1138,574,1166,602,1164,626,1140,612,1148,638,1178,646,1190,630,1184,576,1148,564,1164,536,1138,446,1074,448,1072,384,1046,368,986,374"
      href="/logs"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="940,282,972,284,1116,214,1072,182,1104,142,1076,130,1040,162,986,124,1000,168,954,94,840,172,862,202,912,186,940,218"
      href="/poetry"
      target=""
    /><area
      shape="poly"
      alt=""
      title=""
      coords="218,118,284,128,338,270,350,246,504,224,604,216,680,242,784,230,834,176,856,202,828,298,660,398,604,374,604,342,546,322,524,334,474,322,294,354,330,394,208,430,174,370,224,322,290,286,164,302,168,258,200,176"
      href="/newsletters"
      target=""
    /></map
  >
  <img src="/src/assets/sitemap.svg" usemap="#sitemap" />
  <!-- <ul />
  <li>
    <a href="/fiction">Fiction:</a> Short stories.
  </li>
  <li>
    <a href="/poetry">Poetry:</a> Small poetic pieces I've written.
  </li>
  <li>
    <a href="/essays">Essays:</a> Non-fiction essays on various non-programming-related
    topics.
  </li>
  <li>
    <a href="/technical">Technical:</a> Articles on various programming-related topics,
    including my TIL series.
  </li>
  <li>
    <a href="/misc">Misc:</a> Miscellaneous evergreen pages.
  </li>
  <li>
    <a href="/newsletters">Newsletters:</a> Off-the-cuff, informal essays sent on
    a regular basis.
  </li>
  <li>
    <a href="/logs">Logs:</a> I log everything I read, watch, play, and listen to.
  </li>
  <li>
    <a href="/gallery">Gallery:</a> Various photography I've done.
  </li>
    <li>
      <a href="/chrome-mv3.zip">My personal Chrome extension.</a>
    </li>
</IndexLayout> -->
</IndexLayout>
