---
import IndexLayout from "../layouts/IndexLayout.astro";

const { title = "Map", description = "Sitemap for rwblickhan.org" } =
  Astro.props;
---

<IndexLayout title={title} description={description}>
  <ul>
    <li>
      <a href="/fiction">Fiction:</a> Short stories.
    </li>
    <li>
      <a href="/poetry">Poetry:</a> Small poetic pieces I've written.
    </li>
    <li>
      <a href="/essays">Essays:</a> Non-fiction essays on various non-programming-related
      topics.
    </li>
    <li>
      <a href="/technical">Technical:</a> Articles on various programming-related
      topics, including my TIL series.
    </li>
    <li>
      <a href="/misc">Misc:</a> Miscellaneous evergreen pages.
    </li>
    <li>
      <a href="/newsletters">Newsletters:</a> Off-the-cuff, informal essays sent
      on a regular basis.
    </li>
    <li>
      <a href="/logs">Logs:</a> I log everything I read, watch, play, and listen
      to.
    </li>
    <li>
      <a href="/gallery">Gallery:</a> Various photography I've done.
    </li>
    <li>
      <a href="/chrome-mv3">My personal Chrome extension.</a>
    </li>
  </ul>
</IndexLayout>
