---
import ContentLayout from "../layouts/ContentLayout.astro";

const { title = "Search", description = "Search for rwblickhan.org" } =
  Astro.props;
---

<ContentLayout title={title} description={description}>
  <h1>Search</h1>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script src="/pagefind/pagefind-ui.js" is:inline></script>
  <div id="search"></div>
  <style>
    #search {
      --pagefind-ui-font: Charter, "Bitstream Charter", "Sitka Text", Cambria,
        sans-serif;
    }
  </style>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        resetStyles: false,
        showImages: false,
      });
    });
  </script>
</ContentLayout>
