---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Search from "../components/Search.jsx";

const { title = "Search", description = "Search for rwblickhan.org" } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-white dark:bg-rwb-background-dark">
    <Header />
    <article>
      <div class="pt-32 px-4 mb-8 md:max-w-7xl md:mx-auto">
        <div
          class="mb-4 prose dark:prose-invert dark:prose-headings:text-rwb-text-dark"
        >
          <h1>Search</h1>
          <Search client:only="preact" />
        </div>
      </div>
    </article>
  </body>
</html>
