---
import ContentLayout from "../layouts/ContentLayout.astro";
import "../assets/stork.css";
---

<ContentLayout title="Search">
  <h1>Search</h1>

  <div class="stork-wrapper">
    <input data-stork="index" class="stork-input" />
    <div data-stork="index-output" class="stork-output"></div>
  </div>

  <script src="/stork.js" nonce="3836d8f37d"></script>
  <script nonce="2726c7f26c">
    stork.initialize("/stork.wasm");
    stork.register("index", "/index.st");
  </script>
</ContentLayout>
