---
import ContentLayout from "../layouts/ContentLayout.astro";
import { collectionMetadataMap } from "../consts";
import { getCollection } from "astro:content";

const { title = "Search", description = "Search for rwblickhan.org" } =
  Astro.props;
---

<ContentLayout title={title} description={description}>
  <h1>Search</h1>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script src="/pagefind/pagefind-ui.js" is:inline></script>
  <div id="search"></div>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
</ContentLayout>
