---
import { getCollection } from "astro:content";
import IndexLayout from "../../layouts/IndexLayout.astro";
import LinkBox from "../../components/LinkBox.astro";
import IndexGrid from "../../components/IndexGrid.astro";
const posts = (await getCollection("newsletters")).sort(
  (a, b) => b.data.lastUpdatedDate.valueOf() - a.data.lastUpdatedDate.valueOf()
);
---

<IndexLayout title="Newsletters" description="Newsletters index page">
  <h2>Season 1</h2>
  <IndexGrid>
    {
      posts
        .filter((post) => post.data.season === 1)
        .map((post) => (
          <LinkBox
            title={post.data.title}
            href={`/newsletters/${post.slug}`}
            description={post.data.description}
            lastUpdatedDate={post.data.lastUpdatedDate}
          />
        ))
    }
  </IndexGrid>
</IndexLayout>
