---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<button type="button" id={id} class="hidden" aria-label="Collapse navigation">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-8 h-8 lg:w-12 lg:h-12 stroke-white"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
