---
export interface Props {
  id: string;
  slug: string;
  title: string;
}

const { id, slug, title } = Astro.props;
---

<div id={id}>
  <a href={slug}>
    <h2>{title}</h2>
  </a>
</div>

<style lang="scss">
  div {
    display: none;
    padding: 0 1rem;
    height: 4rem;

    @media (min-width: 1024px) {
      padding: 0 3rem;
    }
  }
</style>
