---

---

<select id="color-scheme-select" aria-label="Choose color scheme">
  <option value="blue">🔵</option>
  <option value="red">🔴</option>
  <option value="green">🟢</option>
</select>

<script is:inline>
  document.getElementById("color-scheme-select").value =
    localStorage.getItem("color-scheme") || "blue";
</script>

<script>
  const select = document.getElementById(
    "color-scheme-select",
  ) as HTMLSelectElement;

  select.addEventListener("change", (e) => {
    const scheme = (e.target as HTMLSelectElement).value;
    document.documentElement.dataset.theme = scheme;
    localStorage.setItem("color-scheme", scheme);
  });
</script>

<style>
  select {
    border: none;
    background-color: var(--background);
  }
</style>
