<form
  action="https://buttondown.email/api/emails/embed-subscribe/rwblickhan"
  method="post"
  target="popupwindow"
  onsubmit="
    window.open('https://buttondown.email/rwblickhan', 'popupwindow')
    "
>
  <input
    type="email"
    id="bd-email"
    placeholder="Enter your email"
    class="bd-email"
  />
  <input type="submit" value="Subscribe" class="bd-submit" />
</form>

<style>
  form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--callout-background);
  }

  input {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }

  .bd-email {
    border-width: 0px;
    background-color: white;
    flex: 1;
    min-width: 0;
    color: var(--text);
  }

  .bd-submit {
    color: white;
    cursor: pointer;
    border-width: 0px;
    background-color: var(--primary);
  }
</style>
