---
export interface Props {
  href: string;
  title: string;
}
const { href, title } = Astro.props;
---

<a href={href} aria-label={title} title={title}>
  <slot />
</a>

<style lang="scss">
  a {
    width: 1.75rem;
    height: 1.75rem;

    @media (min-width: 1024px) {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
</style>
