---
import CollapseButton from "./CollapseButton.astro";
import ExpandButton from "./ExpandButton.astro";
import SearchLink from "./SearchLink.astro";
import CollectionLink from "./CollectionLink.astro";
import {
  collectionWithGalleryMetadataMap,
  type CollectionMetadata,
} from "../consts";

const collections: CollectionMetadata[] = [];
for (const collectionMetadata of collectionWithGalleryMetadataMap.values()) {
  if (collectionMetadata.isInHeader) {
    collections.push(collectionMetadata);
  }
}
---

<script>
  // Show or hide expanded state
  const header = document.querySelector("#header") as HTMLElement;
  const collectionElements = document.querySelectorAll("#collection");
  const searchButton = document.querySelector("#searchButton");
  const expandButton = document.querySelector("#expandButton");
  const collapseButton = document.querySelector("#collapseButton");

  searchButton?.classList.remove("hidden");
  expandButton?.classList.remove("hidden");

  expandButton?.addEventListener("click", () => {
    collectionElements.forEach((el) => {
      el.classList.remove("hidden");
    });
    console.log(`collapseButton: ${collapseButton}`);
    expandButton.classList.add("hidden");
    collapseButton?.classList.remove("hidden");
    header.setAttribute("aria-expanded", "true");
  });

  collapseButton?.addEventListener("click", () => {
    collectionElements.forEach((el) => {
      el.classList.add("hidden");
    });
    expandButton?.classList.remove("hidden");
    collapseButton.classList.add("hidden");
    header.setAttribute("aria-expanded", "false");
  });
</script>

<nav
  id="header"
  class="flex flex-col md:sticky top-0 inset-x-0 z-0"
  aria-expanded="false"
>
  <div
    class="px-4 lg:px-12 bg-black h-24 w-full flex items-center justify-between"
  >
    <a
      class="text-white dark:text-rwb-text-dark text-3xl lg:text-4xl no-underline hover:underline"
      href="/index.html"
    >
      rwblickhan.org
    </a>
    <div class="flex flex-row items-center">
      <SearchLink id="searchButton" />
      <ExpandButton id="expandButton" />
      <CollapseButton id="collapseButton" />
    </div>
  </div>
  {
    collections.map((metadata) => (
      <CollectionLink
        id="collection"
        slug={metadata.slug}
        title={metadata.title}
      />
    ))
  }
</nav>
