---
export interface Props {
  href: string;
  title: string;
}
const { href, title } = Astro.props;
---

<a href={href} aria-label={title} title={title}>
  <slot />
</a>

<style>
  a {
    width: 1.75rem;
    height: 1.75rem;
  }
</style>
