---
import SearchHeaderIcon from "./SearchHeaderIcon.astro";
import MapHeaderIcon from "./MapHeaderIcon.astro";
import {
  collectionWithGalleryMetadataMap,
  type CollectionMetadata,
} from "../consts";

const collections: CollectionMetadata[] = [];
for (const collectionMetadata of collectionWithGalleryMetadataMap.values()) {
  if (collectionMetadata.isInHeader) {
    collections.push(collectionMetadata);
  }
}
---

<nav id="header">
  <div class="title">
    <span>λ</span>
    <a href="/index.html">rwblickhan.org</a>
  </div>
  <div class="header-icons">
    <SearchHeaderIcon />
    <MapHeaderIcon />
  </div>
</nav>

<style is:global lang="scss">
  nav {
    display: flex;
    flex-direction: column;
    height: 6rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.875rem;
    line-height: 2.25rem;

    @media (min-width: 1024px) {
      padding: 0 3rem;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
</style>
