<div>
  <slot />
</div>

<style lang="scss">
  div {
    display: grid;
    grid-template-rows: none;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
