---
import LinkBox from "../components/LinkBox.astro";

export interface Post {
  data: {
    title: string;
    description?: string;
    lastUpdatedDate: Date;
  };
  slug: string;
}

export interface Props {
  posts?: { posts: Post[]; makeHref: (slug: string) => string };
}

const { posts } = Astro.props;
---

<div>
  {
    posts &&
      posts.posts.map((post) => (
        <LinkBox
          title={post.data.title}
          href={posts.makeHref(post.slug)}
          description={post.data.description}
          lastUpdatedDate={post.data.lastUpdatedDate}
        />
      ))
  }
  <slot />
</div>

<style lang="scss">
  div {
    display: grid;
    grid-template-rows: none;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
