---
export interface Props {
  title: string;
  href: string;
  description?: string;
  lastUpdatedDate: Date;
}

const { title, href, description, lastUpdatedDate } = Astro.props;
---

<a href={href} class="not-prose">
  <h2>{title}</h2>
  {description == null ? null : <p>{description}</p>}
  <p>Last updated: {lastUpdatedDate.toLocaleDateString()}</p>
</a>

<style lang="scss">
  a {
    border: 2px solid var(--rwb-text-light);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--rwb-text-light);
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      border-color: var(--rwb-text-dark);
      color: var(--rwb-text-dark);
    }

    &:hover {
      border-color: var(--rwb-link-light);
      color: var(--rwb-link-light);

      @media (prefers-color-scheme: dark) {
        border-color: var(--rwb-link-dark);
        color: var(--rwb-link-light);
      }
    }
  }

  h2 {
    margin: 0.5rem 0;
    font-weight: normal;
  }

  p {
    margin: 0;
  }
</style>
