---
export interface Props {
  title: string;
  href: string;
  description?: string;
  lastUpdatedDate: Date;
}

const { title, href, description, lastUpdatedDate } = Astro.props;
---

<a href={href} class="not-prose">
  <h2>{title}</h2>
  {description == null ? null : <p>{description}</p>}
  <p>Last updated: {lastUpdatedDate.toLocaleDateString()}</p>
</a>

<style>
  a {
    border: 2px solid var(--rwb-text-light);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  a:hover {
    border-color: var(--rwb-link-light);
    color: var(--rwb-link-light);
  }

  @media (prefers-color-scheme: dark) {
    a {
      border-color: var(--rwb-text-dark);
    }

    a:hover {
      border-color: var(--rwb-link-dark);
      color: var(--rwb-link-light);
    }
  }

  h2 {
    margin: 0.5rem 0;
  }
</style>
