---
import SearchNavIcon from "./SearchNavIcon.astro";
import MapNavIcon from "./MapNavIcon.astro";
import SubscribeNavIcon from "./SubscribeNavIcon.astro";
import ColorPicker from "./ColorPicker.astro";
---

<nav id="header">
  <div class="title">
    <span>λ</span>
    <a href="/index.html">rwblickhan.org</a>
  </div>
  <div class="header-icons">
    <ColorPicker />
    <SubscribeNavIcon />
    <SearchNavIcon />
    <MapNavIcon />
  </div>
</nav>

<style is:global>
  nav {
    display: flex;
    margin: 1rem 1rem 0 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;

    a {
      text-decoration: none;
      color: var(--text);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  @media (min-width: 1024px) {
    .header-icons {
      gap: 0.75rem;
    }
  }
</style>
