---
---

<button
  commandfor="toc-modal"
  command="toggle-popover"
  aria-label="Table of contents"
  title="Table of contents"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    data-slot="icon"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
    ></path>
  </svg>
</button>

<style>
  button {
    width: 1.75rem;
    height: 1.75rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    padding: 0;
    display: block;

    &:hover {
      color: var(--primary);
    }
  }
</style>
