---
import { getCollection } from "astro:content";

import IndexLayout from "../../layouts/IndexLayout.astro";

const posts = (await getCollection("fiction")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<IndexLayout title="Fiction" description="Fiction index page">
  <div
    class="grid gap-4 grid-cols-1 md:grid-cols-2 place-items-stretch grid-rows-none prose-headings:text-rwb-link-light dark:prose-headings:text-rwb-link-dark"
  >
    {
      posts.map((post) => (
        <a
          href={`/fiction/${post.slug}`}
          class="not-prose border-2 rounded-lg border-black dark:border-gray-300 hover:border-rwb-link-light hover:dark:border-rwb-link-dark"
        >
          <div class="flex flex-col items-baseline justify-between p-4 text-black dark:text-gray-300 hover:text-rwb-link-light hover:dark:text-rwb-link-dark">
            <h2 class="text-2xl my-4">{post.data.title}</h2>
            <p>{post.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</IndexLayout>
