---
import { getCollection } from "astro:content";

import IndexGrid from "../../components/IndexGrid.astro";
import IndexLayout from "../../layouts/IndexLayout.astro";

const allPosts = await getCollection("fiction");
const fictionPosts = allPosts
  .filter((p) => p.data.type === "fiction")
  .sort((a, b) => b.data.lastUpdatedDate.valueOf() - a.data.lastUpdatedDate.valueOf());
const poetryPosts = allPosts
  .filter((p) => p.data.type === "poetry")
  .sort((a, b) => b.data.lastUpdatedDate.valueOf() - a.data.lastUpdatedDate.valueOf());
---

<IndexLayout title="Fiction" description="Fiction index page">
  <h2>Fiction</h2>
  <IndexGrid posts={{ posts: fictionPosts, makeHref: (id) => `/fiction/${id}` }} />
  <h2 id="poetry">Poetry</h2>
  <IndexGrid posts={{ posts: poetryPosts, makeHref: (id) => `/fiction/${id}` }} />
</IndexLayout>
