---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="md:scroll-pt-24 bg-white dark:bg-rwb-background-dark font-serif"
>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="overscroll-none">
    <Header />
    <article>
      <slot />
    </article>
  </body>
</html>
