---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Header />
  <article>
    <div
      class="pt-32 px-4 mb-8 md:max-w-3xl md:mx-auto prose dark:prose-invert dark:prose-headings:text-rwb-text-dark prose-a:text-rwb-link-light dark:prose-a:text-rwb-link-dark prose-a:no-underline hover:prose-a:underline"
    >
      <h1>{title}</h1>
      <slot />
    </div>
  </article>
</html>
