---
import type { Collection } from "../content/config";
import { collectionMetadataMap } from "../consts";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  description: string;
  parentCollection?: Collection;
}

const {
  title = "R. W. Blickhan",
  description = "The personal site of R. W. Blickhan",
  parentCollection,
} = Astro.props;

const parentCollectionMetadata =
  parentCollection && collectionMetadataMap.get(parentCollection);
---

<BaseLayout title={title} description={description}>
  <div>
    {
      parentCollectionMetadata && (
        <a href={parentCollectionMetadata.slug}>
          ← {parentCollectionMetadata.title}
        </a>
      )
    }
    <slot />
  </div>
</BaseLayout>

<style lang="scss">
  div {
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      max-width: 48rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  a {
    margin-bottom: 0.5rem;
  }
</style>
