---
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} width="large">
  <h1>Gallery</h1>
  <div class="grid">
    <slot />
  </div>
</BaseLayout>

<style lang="scss">
  div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: none;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
