---
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="content">
    <h1>Gallery</h1>
    <div class="grid">
      <slot />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .content {
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: none;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
