---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-white dark:bg-rwb-background-dark">
    <Header />
    <article>
      <div
        class="pt-32 px-4 mb-8 md:max-w-3xl md:mx-auto prose dark:prose-invert dark:prose-headings:text-rwb-text-dark prose-a:text-rwb-link-light dark:prose-a:text-rwb-link-dark prose-a:no-underline hover:prose-a:underline"
      >
        <slot />
      </div>
    </article>
  </body>
</html>
